@import 'normalize.css';

html {
  font-size: 2vw;
}

body {
  background: #f0f0f0;
}

.container {
  padding: 2em;
}

.title-field {
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 5em;
    text-align: center;
  }
}
