<div class="container">
  <header>
    <p>this is header</p>
  </header>
  <section class="main-wrapper">
    <div class="title-field">
      <h1>{{title}}</h1>
    </div>
    <div id="vue-app"></div>
  </section>
  <footer>
    <p>this footer</p>
  </footer>
</div>
<script src="/index.bundle.js"></script>
